In [16]:
# Import Dependencies
import pandas as pd

In [17]:
raw_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie"], 
    'Test Score': [90, 59, 72, 88, 98, 60]}
df = pd.DataFrame(raw_data)
df

  Class     Name  Test Score
0   Oct    Cyndy          90
1   Oct    Logan          59
2   Jan     Laci          72
3   Jan    Elmer          88
4   Oct  Crystle          98
5   Jan    Emmie          60

In [18]:
file_to_load="class/ted_talks.csv"

In [19]:
ted_df=pd.read_csv(file_to_load)

In [20]:
ted_df

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869
...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,What we're missing in the debate about immigra...,450430
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,The most Martian place on Earth,417470
2547,10,Science fiction visions of the future show us ...,651,TED2017,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,What intelligent machines can learn from a sch...,375647
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,A black man goes undercover in the alt-right,419309
2549,8,With more than half of the world population li...,519,TED2017,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,How a video game might help us build better ci...,391721

In [21]:
ted_df["views"].max()

47227110

In [22]:
ted_df["views"].min()

50443

In [23]:
view_bins=[0,4000000,8000000,12000000,16000000,20000000,24000000,28000000,32000000,36000000,40000000]

In [24]:
name=["<4,000,000","4,000,000 to 8,000,000","8,000,000 to 12,000,000","12,000,000 to 16,000,000","16,000,000 to 20,000,000","20,000,000 to 24,000,000","24,000,000 to 28,000,000","28,000,000 to 32,000,000","32,000,000 to 36,000,000",">36,000,000"]

In [25]:
views_column=ted_df["views"]

In [26]:
pd.cut(views_column,view_bins,labels=name)

0                            NaN
1                     <4,000,000
2                     <4,000,000
3                     <4,000,000
4       12,000,000 to 16,000,000
                  ...
2545                  <4,000,000
2546                  <4,000,000
2547                  <4,000,000
2548                  <4,000,000
2549                  <4,000,000
Name: views, Length: 2550, dtype: category
Categories (10, object): [<4,000,000 < 4,000,000 to 8,000,000 < 8,000,000 to 12,000,000 < 12,000,000 to 16,000,000 ... 24,000,000 to 28,000,000 < 28,000,000 to 32,000,000 < 32,000,000 to 36,000,000 < >36,000,000]